<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats</title>
</head>
<body>
    <h2>New Chats</h2>
     <form method="POST" action="/chats"> 
     Sender : <input placeholder="Who is sender" name="from">
     <br><br>
     Message : <input placeholder="Enter your message" name="msg">
     <br><br>
     Receiver : <input placeholder="Who is receiver" name="to">
     <br><br>
     <button>submit</button>
  
     </form>   
</body>
</html>